
.bg-light{
    background-color: rgba(30,32,43,255) !important;
}

.nav-link,.navbar-brand{
    color: white !important;
}

.active{
    border: solid 2px ;
    border-color: midnightblue;
    color:blue !important ;
    border-radius: 20px;
    
}

.nav-link:hover{
    border: solid 2px ;
    border-color: midnightblue;
    color:blue !important ;
    border-radius: 20px;
    transition: all 1s;

}

body{
    background-image: url(../imgs/c3.jpg);
   background-size:cover ;
   

}

.pos{
    border-radius: 20%;
    color:white
}